@charset "utf-8";

body{
    font-family: sans-serif;
    font-size: 22px;
}
#password{
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    float: left;
}
#password:focus{
    outline-style: none;
    box-shadow: 0px 0px 5px grey;
}
#icon{
    color: lawngreen;
    display: none;
    float: left;
}
#message{
    width: 250px;
    height: auto;
    border: 1px solid #ccc;
    display: none;
}
#upper,#lower,#num{
    font-size: 18px;
    color: red;
}